<!doctype html>
<html lang="fr">

<!-- ======================
    HEADER
====================== -->

<head>
    <meta charset="utf-8">
    <title>Yopnote</title>

    <link href="stylesheets/style.css" rel="stylesheet">
    <!--<link rel="shortcut icon" href="favicon.ico">-->
    <script type="text/javascript">window.console||(window.console={log:function(){}});</script>
</head>

<!-- ======================
    CONTENT
====================== -->

<body>
</body>

<!-- ======================
    JAVASCRIPT
====================== -->
<script language="Javascript" src="vendors/jquery-1.9.0.min.js"></script>
<script language="Javascript" src="vendors/mustache/mustache.js"></script>
<script language="Javascript" src="vendors/mustache/ICanHaz-no-mustache.min.js"></script>
<script language="Javascript" src="vendors/template_render.js"></script>
<script language="Javascript" src="vendors/backbone-0.9.2/underscore.min.js"></script>
<script language="Javascript" src="vendors/backbone-0.9.2/backbone.min.js"></script>
<script language="Javascript" src="vendors/jquery.hotkeys.js"></script>

<script language="Javascript" src="javascripts/app.js"></script>
<script language="Javascript" src="javascripts/helpers.js"></script>
<script language="Javascript" src="javascripts/Router.js"></script>
<script language="Javascript" src="javascripts/models/Folder.js"></script>
<script language="Javascript" src="javascripts/models/Note.js"></script>
<script language="javascript" src="javascripts/collections/Folders.js"></script>
<script language="javascript" src="javascripts/collections/Notes.js"></script>
<script language="javascript" src="javascripts/views/Default.js"></script>
<script language="javascript" src="javascripts/views/Folder.js"></script>
<script language="javascript" src="javascripts/views/PublicFolderList.js"></script>

<script id="template_Default" type="text/html">
<div class="container-narrow">

    <div class="masthead">Y</div>

    <div class="row row-1" id="row-1">
        <input type="text" placeholder="Type something to search or to create a note">
    </div>

    <div class="row row-2" id="row-2"></div>

    <div class="row row-3" id="row-3"></div>

</div>
</script>
<script id="template_Folder" type="text/html">
<h3>{{name}}</h3>
<input type="text" placeholder="Type something to add a note">
<ul></ul>
</script>
<script id="template_Notes" type="text/html">
{{#collection}}
    <li>{{message}} <small>{{date}}</small></li>
{{/collection}}
</script>
<script id="template_Note" type="text/html">
    <li>{{message}} <small>{{date}}</small></li>
</script>
<script id="template_PublicFolderList" type="text/html">
<ul>
    {{#collection}}
    <li data-hash="{{hash}}" data-name="{{name}}">{{name}} <small>{{date}}</small></li>
    {{/collection}}
</ul>
</script>


</html>
