body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Times New Roman", serif;
  overflow-y: scroll;
}

.container-narrow {
  margin: 0 auto;
  max-width: 500px;
}
.container-narrow > hr {
  margin: 10px 0;
  height: 1px;
  border: none;
  background: #DDD;
}

.masthead {
  font-size: 70px;
  text-align: center;
  line-height: 70px;
  margin-bottom: 20px;
}

.row {
  border: thin solid #ddd;
  margin-bottom: 30px;
}
.row-1 input {
  border: none;
  outline: none;
  background: #fff;
  width: 488px;
  margin: 0;
  padding: 5px;
  color: #333;
}
.row-1.current-row input,
.row-1 input:focus {
  background: #dedede;
}


.row-2 {
  height: 100px;
  overflow: hidden;
}
/*.row-2:hover {*/
.row-2 {
  overflow: auto;
}
.row-2 ul {
  border: none;
  outline: none;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #333;
  list-style: none;
}
.row-2 li {
  border: none;
  outline: none;
  margin: 0;
  padding: 2px 0 2px 5px;
  color: #333;
}
.row-2 li:nth-child(odd) {
  /*background: #f1f1f1;*/
}
.row-2 li:hover,
.row-2 li.selected {
  border: none;
  outline: none;
  background: #dedede;
  cursor: pointer;
}
.row-2 li small {
  color: #777;
  font-size: 0.7em;
  visibility: hidden;
}
.row-2 li:hover small {
  visibility: visible;
}


.row-3 {
  border: none;
}
.row-3 h3 {
  padding: 0 5px;
  margin: 0;
}
.row-3 input {
  border: none;
  outline: none;
  background: #eee;
  width: 488px;
  margin: 0;
  padding: 5px;
  color: #333;
}
.row-3 input:focus {
  background: #dedede;
  visibility: visible;
}
.row-3 ul {
  border: none;
  outline: none;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #333;
  list-style: none;
}
.row-3 ul:empty:after {
  content: 'aucune note !';
  margin: 20px 0;
  color: #aaa;
}
.row-3 li {
  border: none;
  outline: none;
  margin: 0;
  padding: 5px;
  color: #333;
}
