<div class="container-narrow">

    <div class="masthead">Y</div>

    <div class="row row-1 current-row" id="row-1">
        <input type="text" placeholder="Type something to search or to create a note">
    </div>

    <div class="row row-2" id="row-2">
    	<!-- PublicFolderList.mustache.html -->
    </div>
    
    <div class="row row-2-detail" id="row-2-detail">
        <!-- 13 notes, last note added the 2012/12/31 at 12:31, created the 2012/12/01 at 12:01 -->
    </div>

    <div class="row row-3" id="row-3">
    	<!-- Folder.mustache.html -->
    </div>

</div>