<h3>Titre de la note</h3>
<input type="text" placeholder="Type something to add a note">
<ul>
    <!-- partiel Note.mustache.html -->
    <li>note de qqc qui est vachement bien !</li>
    <li>note de qqc qui est vachement bien !</li>
    <li>note de qqc qui est vachement bien !</li>
    <li>note de qqc qui est vachement bien !</li>
    <li>note de qqc qui est vachement bien !</li>
    <li>note de qqc qui est vachement bien !</li>
    <li>note de qqc qui est vachement bien !</li>
    <li>note de qqc qui est vachement bien !</li>
    <li>note de qqc qui est vachement bien !</li>
    <li>note de qqc qui est vachement bien !</li>
    <li>note de qqc qui est vachement bien !</li>
    <li>note de qqc qui est vachement bien !</li>
    <li>note de qqc qui est vachement bien !</li>
    <li>note de qqc qui est vachement bien !</li>
    <li>note de qqc qui est vachement bien !</li>
    <li>note de qqc qui est vachement bien !</li>
    <li>note de qqc qui est vachement bien !</li>
    <li>note de qqc qui est vachement bien !</li>
    <li>note de qqc qui est vachement bien !</li>
    <li>note de qqc qui est vachement bien !</li>
    <li>note de qqc qui est vachement bien !</li>
    <li>note de qqc qui est vachement bien !</li>
    <li>note de qqc qui est vachement bien !</li>
    <li>note de qqc qui est vachement bien !</li>
    <li>note de qqc qui est vachement bien !</li>
</ul>